body{
    margin: 0px;
    width: 100%;
    padding: 0px;
}
header ul{
    display: inline-flex;
}
header ul li{
    margin: 0px 30px;
}
header div{
    display: flex;
    justify-content: center;
}
.main_inner{
    background-color: rgba(2, 2, 2, 0.884);
    width: 100%;
    padding-left: 30px;
    padding-top: 30px;
    height: 64vh;
}
footer{
    width: 100%;
    background-color: rgb(43, 42, 42);
}
/* media */

@media screen and (max-width:575px){
    .big-dick{
        align-items: center;
        text-align: center;
    }
}

